@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rootBarsGraphic {
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto;

  .AppHeader {
    background-color: #282c34;
    padding: 20px;
    color: white;
    margin-bottom: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    h1 {
      margin-bottom: 10px;
      font-size: 2.5rem;
      @media (max-width: 768px) {
        font-size: 2rem;
      }
      @media (max-width: 480px) {
        font-size: 1.5rem;
      }
    }

    p {
      font-size: 1.1rem;
      @media (max-width: 480px) {
        font-size: 0.9rem;
      }
    }

    .clear {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #dc3545;
      transition: all 0.2s ease;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), -1px -1px 8px rgba(0, 0, 0, 0.3);
      color: white;
      font-weight: bold;
      border: none;
      cursor: pointer;

      &:active {
        opacity: 0.7;
      }

      &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4),
          -2px -2px 10px rgba(0, 0, 0, 0.4);
      }

      &:hover:not(:disabled) {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
        opacity: 0.7;
      }
    }

    .button-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        gap: 0.8rem;
      }

      .button {
        padding: 10px 20px;
        font-size: 1.1rem;
        background-color: #61dafb;
        color: #282c34;
        font-weight: bold;

        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease,
          box-shadow 0.3s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        @media (max-width: 768px) {
          width: 80%;
          font-size: 1rem;
          padding: 12px 15px;
        }
        @media (max-width: 480px) {
          width: 90%; // Even wider on very small screens
        }

        &:hover:not(:disabled) {
          background-color: #21a1f1;
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        &:disabled {
          background-color: #cccccc;
          cursor: not-allowed;
          opacity: 0.7;
        }
      }
    }
  }

  .AppMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    min-width: 600px;
    min-height: 300px;

    .error-message {
      color: red;
      font-weight: bold;
    }

    .pLoading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: orange;
      font-size: 1.1rem;
      @media (max-width: 480px) {
        font-size: 0.9rem;
      }

      div {
        padding: 1rem;
        min-width: 1rem;
        max-width: 1rem;
        min-height: 1rem;
        max-height: 1rem;
        border-radius: 50%;
        // Estilos para el efecto de carga: un borde que gira
        border: solid 2px rgba(255, 255, 255, 0.2); // Borde transparente o semi-transparente
        border-top-color: gold; // Color sólido en la parte superior para el efecto de movimiento
        box-shadow: 0 0 5px gold; // Sombra para un efecto de resplandor
        animation: spin 1s linear infinite; // Aplica la animación 'spin'

        @media (prefers-reduced-motion) {
          animation: none;
        }
      }
    }
  }
}
