.rootContainerLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100dvh;
  min-width: 100%;
  position: relative;
  z-index: 1;
  overflow: scroll;
  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }

  .popupOnLine {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    background-color: rgb(92, 92, 92);
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 2px;

    &.show {
      opacity: 1;
      transform: translateY(0);
    }

    .lineIcon {
      position: absolute;
      right: 1rem;
      // transform: translate(0%, 0%);
    }
  }
}
