.btnPrimary_01 {
  button {
    &:active {
      // background-color: rgba(255, 255, 255, 0.4);
      opacity: 0.4;
    }

    &:hover {
      transform: translateY(-1.5px);
    }
  }
}

.bold {
  font-weight: bold;
}

.centerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centerColumns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Standard WCAG for be read by screen reader and to hide visualy a element
.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
