.btnPrimary_01 {
  button {
    &:active {
      // background-color: rgba(255, 255, 255, 0.4);
      opacity: 0.4;
    }

    &:hover {
      transform: translateY(-1.5px);
    }
  }
}

.bold {
  font-weight: bold;
}

.centerRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centerColumns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
